 <launch>
    <arg name="number" default="0"/>
    <arg name="simulator" default="false"/>
    <arg name="remote" default="false"/>

    <group unless="$(arg remote)">
        <node if="$(arg simulator)" name="diff_drive_$(arg number)" pkg="hockey_cup" type="diff_drive.py" output="screen">
            <param name="number" value="$(arg number)"/>
        </node>

        <node unless="$(arg simulator)" name="pico_bridge_(arg number)" pkg="hockey_cup" type="pico_bridge.py" output="screen">
            <param name="number" value="$(arg number)"/>
        </node>
    </group>

    <node name="player_$(arg number)" pkg="hockey_cup" type="player.py" output="screen">
        <param name="number" value="$(arg number)"/>
    </node>

    <node name="motion_planner_$(arg number)" pkg="hockey_cup" type="motion_planner.py" output="screen">
        <param name="number" value="$(arg number)"/>
    </node>
</launch>