<launch>
    <node name="simulator" pkg="hockey_cup" type="simulator.py" output="screen"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hockey_cup)/config/rviz.rviz" output="screen"/>

    <include file="$(find hockey_cup)/launch/mbot.launch">
        <arg name="number" value="0"/>
    </include>

    <include file="$(find hockey_cup)/launch/mbot.launch">
        <arg name="number" value="1"/>
    </include>

    <node name="bot_detector" pkg="hockey_cup" type="bot_detector.py" output="screen"/>

    <node name="ball_detector" pkg="hockey_cup" type="ball_detector.py" output="screen"/>

    <node name="game" pkg="hockey_cup" type="game.py" output="screen"/>
</launch>